@charset "utf-8";
@media screen and (max-width: 780px){
    nav {
        height: 80px;
    }
    
    nav > .logo {
        margin: 0 auto 0 auto;
    }
    
    .item-container {
        margin: 0;
    }

    .item-container > .item {
        display: none;
    }

    .mobile-nav-button {
        display: inline;
        cursor: pointer;
    }

    .mobile-nav-button > span:first-child {
        top: calc(50% - 8px);
    }

    .mobile-nav-button > span:nth-child(2) {
        top: calc(50% - 1px);
    }

    .mobile-nav-button > span:nth-child(3) {
        top: calc(50% + 7px);
    }

    .mobile-nav-button.open-mobile-nav > span:first-child {
        transform: translateY(7.5px) rotate(45deg);
    }   

    .mobile-nav-button.open-mobile-nav > span:nth-child(2) {
        opacity: 0;
    }   

    .mobile-nav-button.open-mobile-nav > span:nth-child(3) {
        transform: translateY(-7.5px) rotate(-45deg);
    }   

    .item {
        margin: 0px;
        transition: 0.3s;
    }
        .item::before {
        transition: transform 150ms ease-in-out;
    }

    .item::after{
        display: block;
        content: '';
        margin: 0 20px 0 20px;
        border-bottom: 1px solid rgb(255, 255, 255, .3);
    }

    .mobile-nav {
        display: block;
        position: fixed;
        width: 300px;
        height: 100vh;
        right: -300px;
        margin-left: auto;
        z-index: 2;

        background-color: rgb(30, 40, 50);

        overflow-x: hidden;
        transition: 0.5s;
    }

    .mobile-nav.open-mobile-nav {
        right: 0px;
    }

    .page-cover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 80px;
        left: 0px;
        background-color: rgba(0, 0, 0, .4);
        z-index: 1;
        display: none;
    }

    .page-cover.open-mobile-nav {
        display: block;
    }

    .button-cover {
        display: none;
        position: absolute;
        left: calc(100% - 80px);
        width: 80px;
        height: 80px;
        z-index: 2;
    }

    .button-cover.open-mobile-nav {
        display: block;
    }

    .event-container {
        width: 100vw;
    }

    .event {
        width: 100vw;
        height: auto;
    }

}